/*
 * Copyright 2014, Gregg Tavares.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Gregg Tavares. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

span {
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    color: #000;
}

#gamearea {
    width: 100%;
    height: 100%;
}
#gamestatus {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    margin: 0.5em;
    padding: 0.5em;
    color: white;
    font-size: medium;
}
#inputarea {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#hft-disconnected { z-index: 10000!important; }

#hft-menu { display: none!important; }

#partyIcon {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

#partyIcon img {
    width: 70px;
}


#numVoteTokens {
    position: absolute;
    top: 0.5em;
    left: 50%;
    margin-left: -20px;
}

#numVoteTokens img {
    width: 32px;
}

#numVoteTokens span {
    position: relative;
    top: -7px;
    font-size: 20px;
}

#partyAgendaButton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 9000;
}

#choose {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
}
#choices {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

#numCoins{
    color: red;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -2px;
}

.choice,
#coinCounter {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 45%;
    margin-top: -60px;
}

#choice0 { left: 5%; }
#choice1 { right: 5%; }

.choice img,
#coinCounter img  { width: 100%; }

@media only screen and (max-width: 400px) {

    .choice{
    width: 80px;
    height: 80px;
    top: 45%;
    margin-top: -40px;
    }

    #choice0 { left: 3%; }
    #choice1 { right: 3%; }
    #coinCounter { 
        margin-left: -40px;
    }



}


#coinCounter { 
    left: 50%;
    margin-left: -60px;
}

#btnVote {
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -100px;
}

.btnVoteBackground { width: 200px; }

.btnVoteContent {
    position: absolute;
    top: 7px;
}

.btnVoteContent img {
    width: 32px;
    margin-right: 10px;
    margin-left: 20px;
    display: block;
    float: left;
}
#btnVote span {
    font-size: 20px;
    display: block;
    float: left;
    position: relative;
    top: 5px;
}


img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

#agendaOverlay {
    display: none;
    background: rgba(0,0,0,0.8); 
    position: fixed;
    z-index: 10000;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.agenda {
    background: #fff;
    margin: 0 10%;
    padding: 5%;
    width: 80%;
    position: relative;
} 

article {
    margin-bottom: 20px;
    overflow-y: hidden;
}

.agendaIcon {
    display: block;
    width: 20%;
    min-width: 70px;
    margin-right: 2%;
}

.agendaIcon img { width: 100%; }

.agendaDescription h2,
.agendaDescription p {
    margin-top: 0;
    margin-bottom: 5px;
}

.agendaDescription {
    display: block;
    width: 75%;
}

.agendaIcon,
.agendaDescription {
    float: left;
}

h1 { margin-top: 0; }

#closeButton {
    position: absolute;
    top: 0.5em;
    right: 25px;
    width: 32px;
}


#waitForPlayersOverlay,
#waitForVoting {
    display: block;
    background: blue; 
    position: fixed;
    z-index: 9500;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#waitForVoting {
    display: none;
    background: rgba(0,0,0,0.8);
}

#waitForPlayersOverlay span,
#waitForVoting span {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 46%;
    margin-top: -10px;
    display: block;
    color: #fff;
}